<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    table{
        border: 8px outset;
        border-radius: 10px;
        border-spacing: 10px;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    th,
    td{
        padding: 5px;
    }
</style>
<body>
    <h2 style="text-align: center">Enter details of Product</h2>
    <form method="POST">
        {% csrf_token %}
        <table style = "width:70%" align="center">
            <tr>
                <td>Product ID:</td>
                <td><input type="text" name="ProductID" placeholder="Enter Product ID" ></td>
            </tr>

            <tr>
                <td>Product Name:</td>
                <td><input type="text" name="ProductName" placeholder="Enter Product Name" ></td>
            </tr>

            <tr>
                <td>
                    <input type="submit" class ="btn-btn-success">
                </td>
            </tr>
        </table>
    </form>
</body>
</html>