<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    table {
        border: 8px outset;
        border-radius: 10px;
        border-spacing: 10px;
        padding: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    th,
    td {
        padding: 5px;
        border: 1px solid;
    }
</style>
<body>
    <h2 style="text-align: center">Product Information</h2>
    <table align="center" style="margin: 0px auto;">
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.ProductID }}</td>
                <td>{{ product.ProductName }}</td>
                <td>
                    <a href="update/{{ product.pk }}">Update</a>
                </td>
                <td>
                    <a href="delete/{{ product.pk }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br><br>

    <p>
        <a href="{% url 'create' %}"><---Go To Home Page</a>
    </p>
</body>
</html>